<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body> 
		<div class="page" id="page-myvacationlist">
			<v-bar title="请假" :istab="true" tab1title="我的待办" tab2title="请假完成">
				<a class="icon icon-left pull-left no-transition back" slot="left"></a>
				<a class="icon pull-right no-transition"  slot="right" href="vacation.html" id="pubCircleBtn" style="display: block;">
					<img src="assets/img/yy-circleAdd.png" style="width: 1rem; height: 1rem;" />
				</a>
			</v-bar>

        	<div class="tabs"  id="icain-refresh">
		        	<div id="tab1"  class="tab content active pull-to-refresh-content infinite-scroll" data-distance="100">
		        		  	<!--下拉刷新-->
		        		<div class="refresh-wrapper">
							<div class="pull-to-refresh-layer" style="height: 2rem;">
							    <div class="preloader"></div>
							    <div class="pull-to-refresh-arrow"></div>
							</div>
			        	<ul class="list-vacate" >
			        		<li class="cc{{$index%5}}" v-on:click="waitMd5(item.MD5CODE)" v-for="item in waitList"  track-by="$index">
			        		    <h3>
			        		    	<i style="color: #000000;" class="icon icon-message" ></i> {{item.ITEM_VALUE}}
			        		    </h3>
			        		    <div class="vacate-day">
			        		    <label>天&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数:</label>
			        		    <span>{{item.VACATE_DAYS}} 天</span>
			        		    </div>
			        		    <div class="vacate-date">
			        		    <label>休假日期:</label>
			        		    <span>{{item.START_TIME.substr(0,10)}}</span>
			        		    <span>——</span>
			        		    <span>{{item.END_TIME.substr(0,10)}}</span>
			        	      </div>
			        	      <div class="va-time" >{{getTimeTip(item.CREATE_TIME)}}</div>
			        		</li>
			        	 </ul>
			        	  </div>
			        	 <!--preloader-->
			        	 <div class="infinite-scroll-preloader" style="margin-bottom: 70px; text-align: center;"></div>
			        </div>
		        	<div id="tab2"  class="tab content pull-to-refresh-content infinite-scroll" data-distance="100">
		        		<!--下拉刷新-->
						<div class="pull-to-refresh-layer" style="height: 2rem;">
						    <div class="preloader"></div>
						    <div class="pull-to-refresh-arrow"></div>
						</div>
		        		<ul class="list-vacate" >
			        		<li class="cc{{$index%5}}" v-on:click="vacateMd5(item.MD5CODE)" v-for="item in vacationList"  track-by="$index">
			        		    <h3 >
			        		    	<i style="color: #000000;" class="icon icon-message" ></i> {{item.ITEM_VALUE}}
			        		    </h3>
			        		    <div class="vacate-day" >
			        		    <label>天&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数:</label>
			        		    <span>{{item.VACATE_DAYS}} 天</span>
			        		    </div>
			        		    <div class="vacate-date">
			        		    <label>休假日期:</label>
			        		    <span>{{item.START_TIME.substr(0,10)}}</span>
			        		    <span>——</span>
			        		    <span>{{item.END_TIME.substr(0,10)}}</span>
			        	      </div>
			        	      <div class="va-time" >{{getTimeTip(item.CREATE_TIME)}}</div>
			        		</li>
			        	 </ul>
		        		<!--preloader-->
		        	    <div class="infinite-scroll-preloader" style="margin-bottom: 70px; text-align: center;"></div>
		        	</div>
	       		</div>

			</div>	

		
	</body>
</html>
