<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>一幼圈</title>
	</head>

	<body>
		<!--一幼圈首页-->
		<div class="page bg_white" id="yy-circle">
			<v-bar title="我的幼儿园" :istab="true" tab1title="校园" tab2title="班级">
				<a class="icon pull-left" slot="left" style="margin-top: 1rem;" href="#"></a>
				<a class="icon pull-right no-transition" id="pubCircleBtn" style="display: none;" slot="right" href="yy-publishCircle.html">
					<img src="assets/img/yy-circleAdd.png" style="width: 1rem; height: 1rem;" />
				</a>
			</v-bar>
			<v-nav></v-nav>
			<div class="tabs" style="margin-top: -10px;">
				<!--校园圈-->
				<div id="tab1" style="margin-bottom: 30px;" class="tab active content infinite-scroll pull-to-refresh-content" data-distance="100" data-ptr-distance="100">
					<!--下拉提示-->
					<div class="pull-to-refresh-layer" style="height: 35px;">
						<div class="preloader"></div>
						<div class="pull-to-refresh-arrow"></div>
					</div>
					<!--轮播图-->
					<div id="index-swiper-container" class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide"><img src="./assets/img/banner/banner1.jpg" style="width: 100%; height: 200px;"></div>
							<div class="swiper-slide"><img src="./assets/img/banner/banner2.png" style="width: 100%; height: 200px;"></div>
							<div class="swiper-slide"><img src="./assets/img/banner/1.png" style="width: 100%; height: 200px;"></div>
						</div>
					</div>
					<!--校园风光、集团介绍-->
					<div class="circle-class clearfix">
						<div class="circle-item">
							<a href="#circles-introduction" class="no-transition" style="display: inline-block; width: 100%; height: 100%;"><img src="assets/img/yyin.png" /><span style="font-size: 15px;">幼儿园介绍</span></a>
						</div>
						<div class="circle-item">
							<a href="#yy-surroundings" class="no-transition" style="display: inline-block; width: 100%; height: 100%;"><img src="assets/img/yyschool.png" /><span style="font-size: 15px;">幼儿园环境</span></a>
						</div>
					</div>
<!--					<div style="clear: both;"></div>-->
					<!--校园圈-->
					<ul class="sc-content">
						<li class="sc-item" v-for="item in schoolCircleList" track-by="$index">
							<img class="avear" src="assets/img/headimg.png" />
							<div class="sc-p">
								<label style="font-size: 18px;">{{item.ANN_TITLE}}</label>
								<i style="font-size: 12px;">{{item.ANN_DATE}}</i>
								<span class="circle-comtent" :class="{'circle-comtent-none':activeName===item.ANN_ID}" @click="chooseMe(item)" style="font-size: 15px;">{{item.ANN_CONTENT}}</span>
								<!--<span class="circle-comtent">{{item.ANN_CONTENT}}</span>预留勿删-->
							</div>
                            <div class="card-content" style="padding-left: 49px;">
									<div class="yy-circle-item-image-content clearfix">
										<div v-if="item.PATH" v-for="path in getImagePath(item.PATH)">
											<a href="{{nginx+path}}" data-lightbox="{{item.ANN_ID}}+$index">
												<img class="yy-circle-item-image" src="{{nginx+path}}" data-src="{{nginx+path}}" />
											</a>
										</div>
									</div>
							</div>
						</li>
					</ul>
					<!--上拉加载提示-->
					<div class="infinite-scroll-preloader">
					</div>
				</div>
				<!--班级圈-->
				<div id="tab2" class="tab content infinite-scroll pull-to-refresh-content" data-ptr-distance="100" data-distance="100" style="padding-bottom: 50px !important;">
					<!--下拉提示-->
					<div class="pull-to-refresh-layer">
						<div class="preloader"></div>
						<div class="pull-to-refresh-arrow"></div>
					</div>
					<!--班级圈-->
					<ul v-if="classCircleList.length>0">
						<li v-for="item in classCircleList" track-by="$index" id="{{item.CLA_ID}}">
							<div class="card class-card-style">
								<div class="card-header no-border list-card-header-style">
									<div class="class-user-img-container">
										<img class="class-user-img" src="{{nginx+item.HEAD_PORTRAIT}}" onerror="this.src='assets/img/headimg.png'" style="width: 45px;height:45px;" />
									</div>
									<div class="class-card-title-time">
										<div class="class-name-style" style="font-size: 18px;">{{item.NAME}}</div>
										<div class="class-time-style" style="font-size: 12px;">{{item.CLA_DATE}} &nbsp;<span v-show="item.NAME==userName" style="color: #1a1aa6;" @click="deleteClassCircle(item, $index)">删除</span> </div>
									</div>
									<div class="class-action-container">
										<img class="icon-comment" @click="contact($index)" src="./assets/img/btn_comment.png" />
										<img id="like{{item.ROW_ID}}" v-if="item.ISPOSITIVE==1" @click="pushCircle(item.CLA_ID,item.ROW_ID)" class="icon-like" src="./assets/img/btn_heart_pressed.png" />
										<img v-else id="like{{item.ROW_ID}}" class="icon-like" @click="pushCircle(item.CLA_ID,item.ROW_ID)" src="assets/img/btn_heart_normal.png" />
										<!--<span class="icon icon-star" @click="collect(item.CLA_ID,item.CLA_CONTENT)"></span>
												{{isSelf(item.NAME_ID)}}-->
										<!--<span class="icon icon-remove" :style="isSelf(item.NAME_ID)" @click="deleteClassCircle(item)"></span>-->
									</div>
								</div>
								<div class="card-content">
									<div class="card-content-inner class-card-content circle-comtent"  :class="{'circle-comtent-none':activeNameClass===item.CLA_ID}" @click="chooseClass(item)" style="padding-left: 10px;font-size: 15px;">{{item.CLA_CONTENT}}</div>
									<div class="yy-circle-item-image-content clearfix">
										<div v-if="item.PATH"  v-for="path in getImagePath(item.PATH)">
											<a href="{{nginx+path}}" data-lightbox="{{item.CLA_ID}}+$index">
												<img class="yy-circle-item-image" src="{{nginx+path}}" data-src="{{nginx+path}}" />
												<!--<img v-on:click="showBigPic(item.PATH)" class="yy-circle-item-image" src="" data-src="{{path}}" />-->
												<!--<div v-show="bigPic" v-on:click="hiddenBigPic()" class="icain-mark-layer" transition="mark"></div>
												<div class="icain-main-mark-layer" style="position: fixed; left: 0; right: 0; top: 0; bottom: 0;"></div>
					  							<img v-show="bigPic" class="icain-bigPic-layer" transition="bigPic" :src="showPicSrc" alt="大图" />-->
											</a>
										</div>
									</div>
								</div>

								<div class="class-comment" v-if="item.COMNUM > 0" style="padding-left: 10px;">
									<div @click="checkContact(item.CLA_ID,$index)"><span>点击查看评论</span></div>
									<ul class="comment-list" :class="{'comment-list-show':activeNameComment===item.CLA_ID}" style="margin: 0;">
										<li v-for="comment in item.commentsList">
											<div class="class-comment-content">
												<a class="class-commenter">{{comment.critic_NAME}}:</a>{{comment.com_CONTENT}}</div>
										</li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
					<!--上拉加载提示-->
					<div class="infinite-scroll-preloader" style="margin-top: -70px; padding-bottom: 70px;">
					</div>
				</div>

			</div>

			<!--评论弹框-->
			<div class="custom-dialog" hidden="hidden">
				<div class="custom-dialog-layer">
					<div class="custom-dialog-box" style="position: relative;">
						<img id="img-button-cancel" src="assets/img/cancel.png" alt="" style="position: absolute; width: 29px;height: 29px; position: absolute; top: -12px;right: -10px;"/>
						<div class="custom-dialog-txt">
							<textarea id="comment-content" name="comment-content" placeholder="请输入你的评论..."></textarea>
						</div>
						<div class="buttons">
							<div class="button-box left-button">
								<a class="dialog-button cancel" id="dialog-button-cancel" style="color: #999999;">取消</a>
							</div>
							<div class="button-box ">
								<a class="dialog-button ok" id="dialog-button-ok" style="color: #00c79f;">发表</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</body>

</html>